@import "mixins";
@import "responsive";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300');

@font-face {
    font-family: 'productsans';
    src: url('../ProductSans/Product Sans Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    @include body;
}

.header {
    @include header;
}

.menu-phone {
    @include phoneMenu;
}

.first-div {
    @include first-div;
    @include classesQuote;
}

.second-div {
    @include second-div;
}

.third-div {
    @include third-div;
    @include classesQuote;
}

.footer {
    @include footer;
}

.no_overflow {
  overflow: hidden;
}
